# Exclude bin and obj folders
bin/

obj/

# Visual Studio specific files
*.user
*.rsuser
*.suo
*.cache
*.pdb
*.exe
*.dll
*.log
*.jpg
*.png
*.jpeg

# ASP.NET and .NET specific
appsettings.Development.json
appsettings.Local.json
appsettings.Production.json

# Build output folders
build/
publish/

# NuGet packages
*.nupkg
*.snupkg
packages/
.vs/
.vscode/